@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


/* Imagen renderizada de los badges */
.badge-img {
  image-rendering: -webkit-optimize-contrast;
}

/* Animación simple: scale up + fade-in */
.toast-pop {
  animation: toast-pop 220ms cubic-bezier(.2,.9,.2,1) both;
  transform-origin: right bottom;
}

@keyframes toast-pop {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}